<div class="container-fluid vh-100 d-flex align-items-center justify-content-center pageBg">
  <div class="row w-100 shadow-lg rounded-4 overflow-hidden" style="max-width: 600px;">

<div class="col-md-12 bg-white p-5 d-flex flex-column jusitfy-content-center">
      <h3 class="fw-bold mb-3">Reset Password</h3>
      <form [formGroup]="resetForm" (ngSubmit)="onReset()">
        <div class="my-3">
          <label for="password" class="form-label">Old Password</label>
          <input
            id="oldPassword"
            type="password"
            class="form-control rounded-pill"
            formControlName="oldPassword"
            placeholder="Enter your old password">
        </div>
        <div class="my-3">
          <label for="password" class="form-label">New Password</label>
          <input
            id="newPassword"
            type="password"
            class="form-control rounded-pill"
            formControlName="newPassword"
            placeholder="Enter your new password">
        </div>
        <button type="submit" routerLink="/login" class="btn btn-dark mt-4 w-100 rounded-pill py-2">
          Reset
        </button>
    </form>
</div>

  </div>
</div>
