.bgSignup{
  background: url('/img/still-life-books-versus-technology.jpg') center/cover no-repeat;
}
.logoText{
    background: linear-gradient(to right, #9b5de5, #f15bb5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
